<!DOCTYPE html>
{% extends 'store/main.html' %}
{%load static%}

<html>
<title> products </title>
<link href="css/mainstyle.css" rel="stylesheet"/>
<body>
<div class="cont">
<div class="navbar">
<div class="logo">
<img src="{%static img/pc.jpg%}" width="125px"/>
</div>
<nav>
<ul>
<li><a href=""> Home</a></li>
<li><a href=""> product</a></li>
<li><a href=""> about</a></li>
<li><a href=""> contact</a></li>
</ul>
<img height="30px" src="{%static img/carteshop.jpg%}" width="30px"/>
</nav>
</div>
</div>
<!--DP-->
<div class="sc sp">
<div class="row">
<div class="col-2">
<img src="{%static img/lin.jpg%}" width="100%"/>
</div>
<div class="col-2">
<p>  LENOVO IDEAPAD 5 </p>
<h4>10 000 dh </h4>
<input type="number" value="1"/>
<a class="btn" href=""> add to cart </a>
<h3> Product details </h3>
<p>Processor :	Intel Core i5-1035G1 (4C / 8T, 1.0 / 3.6GHz, 6MB) <br/>
Graphics	Integrated Intel UHD Graphics <br/>
Chipset	Intel SoC Platform <br/>
Memory	8GB Soldered DDR4-3200 <br/>
Storage	512GB SSD M.2 2280 PCIe NVMe <br/>
Display	14" FHD (1920x1080) IPS 300nits Anti-glare, 45% NTSC <br/>
Operating System	Windows 10 Home 64 <br/>
Référence81YH009UFE <br/>

État :Nouveau </p>
</div>
</div>
</div>
<!-- all -->
<div class="sc">
<div class="row-2">
<h2>all products</h2>
<select>
<option>  DELL </option>
<option>  HP </option>
<option>    LENOVO  </option>
<option>  MAC  </option>
</select>
</div>
<div class="row">
<div class="col-4">
<img src="{%static img/deel%20mdr7.jpg%}"/>
<h4> DELL Inspiron 3581 </h4>
<div class="rat"></div>
<p> 5000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/lin.jpg%}"/>
<h4>  LENOVO IDEAPAD 5 </h4>
<div class="rat"></div>
<p> 10 000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="col-4">
<img src="{%static img/hpeb.jpg%}"/>
<h4> HP EliteBook 840 G6 </h4>
<div class="rat"></div>
<p> 6000dh</p>
</div>
<div class="btn-pg">
</div>
</div>
</div>
<!--footers-->
<div class="footer">
<div class="sc">
<div class="row">
<div class="f-col-1">
<h3> Follow us </h3>
<ul>
<li>Facebook</li>
<li>instagram</li>
<li>youtube</li>
</ul>
</div>
</div>
</div>
</div>
</body>
</html>